:root {
  --white: hsl(0, 0%, 100%);
  --light_gray: hsl(212, 45%, 89%);
  --grayish_blue: hsl(220, 15%, 55%);
  --dark_blue: hsl(218, 44%, 22%);
}

body {
  background-color: var(--light_gray);
  font-family: 'Nunito Sans', sans-serif;
  font-size: 15px;
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.card {
  display: flex;
  border-radius: 20px;
  background-color: var(--white);
  flex-direction: column;
  padding: 1em;
  padding-bottom: 1.5em;
  align-items: center;
  width: 250px;
  height: 400px;
}

@media (max-width: 375px) {
  .card {
    width: 80%;
  }
}

.row-1 img {
  width: 250px;
  border-radius: 10px;
}

.row-2 {
  text-align: center;
}

#card-heading {
  font-weight: 700;
}

#card-description {
  font-weight: 400;
  color: var(--grayish_blue);
}
